.ui-widget-content {
    background-color: rgba(255,255,255,0.0);
    border: none;
}

.adminaccess {
    float: right;
}

.register {
    float: left;
}

#login-wrapper {
    text-align: center;
    padding: 20px;
    background-color: rgba(255,255,255, 0.85);
    z-index: 100;
}









